    body {
      background-color: #f8f9fa;
      font-family: 'Segoe UI', sans-serif;
    }
    .navbar {
      background-color: #a2d2ff;
    }
    .nav-link {
      color: #000 !important;
      font-weight: 500;
    }
    h2 {
      border-bottom: 2px solid #bde0fe;
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
    }
    .card {
      border: none;
      box-shadow: 0 4px 8px rgba(0,0,0,0.05);
      margin-bottom: 1.5rem;
    }
    footer {
      background-color: #a2d2ff;
      color: #000;
    }